{%  extends 'Base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">


<!--<h2>WELCOME {{name}}</h2>-->
<div class="header">
    <div class="left" ><li><a class="link-shit" href="#" id="le">Menu</a></li></div>
    <div class="center"><h1>AniRepo</h1></div>
    <div class="right">
        <li class="rig"><a class="link-shit" href="{% url 'profy' %}" >Profile</a></li>
        <li class="rig"><a class="link-shit" href="#" id="search-link">Search</a></li>
        <li class="rig"><a class="link-shit" href="{% url 'UpPage' %}" >Rooms</a></li>
    </div>
</div>

<div id="search-container">
    <form method="get" action="{% url 'dashboard' %}" id="search-form">
         <input type="text" name="q" placeholder="Search..." id="search-bar">
    </form>
</div>


<div class="main-content">
    <div class="hero">
        <img src="..\static\Images\colorful girl.png" width="100%" >
    </div>

    <div class="recommends">

        <div class="Carousel" id="recents">

            <div class="anime-grid">
              {% for room in rooms %}
                <a  href="{% url 'RoomPage' room.id %}" class="room-link">
                    <div class="anime-card">
                      <img src="{{ room.image.url }}" alt="{{ room.title }}" class="anime-image">
                      <h3>{{ room.title }}</h3>
                      <p>{{ room.desc }}</p>
                      <small>Uploaded by: {{ room.uploaded_by }}</small>
                    </div>
                </a>
              {% empty %}
                <p>No rooms created yet 😿</p>
              {% endfor %}
            </div>

        </div>

    </div>
</div>

<script src="{% static 'JavaScripts/home.js' %}"></script>

{% endblock %}