{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/prof.css' %}">

<div>
    <div class="user-profile-mini">
    <img src="{{ profile.pic.url }}" alt="Pic">
    <h3>{{ user.username }}</h3>
    <div class="bio-box">
        <p class="bio">{{ profile.bio }}</p>
    </div>

        <div class="edit-button">
            {% if not request.GET.EditProf %}
            <form method="get">
                <input type="hidden" name="EditProf" value="1">
                <button class="join-btn">Edit</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'profy' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="pic" >
                <br>
                <input type="text" name="Username" placeholder="username">
                <br>
                <textarea id="message" name="bio" rows="5" cols="50" placeholder="Write bio..."></textarea>
                <br>
                <button class="join-btn">Change</button>
            </form>
            <form method="get">
                    <input type="hidden" name="back" value="1">
                    <button class="join-btn">Back</button>
            </form>
            {% endif %}
        </div>
</div>

<div class="joined-room-carousel">
    {% for space in joined %}
    <a  href="{% url 'ChillPage' space.room.id %}" class="room-link">
        <div class="anime-card">
            <img src="{{ space.room.image.url }}" alt="{{ space.room.title }}" class="anime-image">
            <h3>{{ space.room.title }}</h3>
            <p>{{ space.room.desc }}</p>
            <small>Uploaded by: {{ space.room.uploaded_by }}</small>

        </div>
    </a>
    {% endfor %}
</div>

<div class="created-room-carousel">
    {% for space in room %}
     <a  href="{% url 'RoomPage' space.id %}" class="room-link">
         <div class="anime-card">
             <img src="{{ space.image.url }}" alt="{{ space.title }}" class="anime-image">
             <h3>{{ space.title }}</h3>
             <p>{{ space.desc }}</p>
         </div>
    </a>
    {% endfor %}
</div>
</div>


{% endblock %}