{% extends 'Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/room_detail.css' %}">

<div class="room-container">
      <div class="room-image">
        <img src="{{ room.image.url }}" alt="{{ room.title }}">
      </div>

      <div class="room-details">
        <h1 class="room-title">{{ room.title }}</h1>
        <p class="uploaded-by">Uploaded by: {{ room.uploaded_by }}</p>
        <p class="room-description">{{ room.desc }}</p>

        <div class="room-actions">
            <!--Creator side-->
          {% if room.uploaded_by == request.user %}
            {% if not request.GET.showform %}
            <div class="initial-manage">
                    <form class="manage-room" method="get">
                    <input type="hidden" name="showform" value="1">
                    <button class="join-btn">Manage</button>
                </form>
                <form class="enter-room" method="get" action="{% url 'ChillPage' room.id %}">
                    <button class="join-btn">Enter</button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <p>{{ message }}</p>
                        {%endif %}
                    {% endfor %}
                {% endif %}
            </div>

            {% else %}
                {% if request.user.is_authenticated %}
                <div class="after-manage">
                    <form class="upload-content" method="post" action="{% url 'RoomPage' room.id %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                        <input type="hidden" name="RoomUp" value="1">
                    <input class="cont-up" type="file" accept="image/*, video/*, .mkv, .webm, audio/*" name="files"  multiple>
                    <button class="join-btn">upload</button>
                </form>

                <form class="Room-edit" method="post" action="{% url 'RoomPage' room.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="Roomedit" value="1">
                    <input type="text" name="title" placeholder="Enter title...">
                    <br>
                    <textarea id="message2" name="desc" rows="5" cols="50" placeholder="Write description..."></textarea>
                    <br>
                    <input class="cont-up" type="file" name="photo" accept="image/*">
                    <br>
                    <button class="join-btn">Change</button>
                </form>
                </div>

                <div class="Aprroval_section">

                </div>
                {% endif %}
            {% endif %}

            <!--User side-->
            {% else %}
                {% if request.user.is_authenticated %}
                    <form class="join-form" method="get" action="{% url 'ChillPage' room.id %}">
                        <input type="hidden" name="joinRoom" value="{{ room.id }}">
                        <button class="join-btn">Join</button>
                    </form>
                    {% if request.GET.joinRoom %}<!-- cant use '-' in joinRoom -->
                        <p>{{ message }}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>




      </div>
</div>
{% endblock %}
