{% extends 'Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/room_detail.css' %}">

<div class="room-container">
      <div class="room-image">
        <img src="{{ room.image.url }}" alt="{{ room.title }}">
      </div>

      <div class="room-details">
        <h1 class="room-title">{{ room.title }}</h1>
        <p class="uploaded-by">Uploaded by: {{ room.uploaded_by }}</p>
        <p class="room-description">{{ room.desc }}</p>

        <div class="room-actions">
            <!--Creator side-->
          {% if room.uploaded_by == request.user %}
            {% if not request.GET.showform %}
            <form method="get">
                <input type="hidden" name="showform" value="1">
                <button class="join-btn">Manage</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'RoomPage' room.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="img" >
                <input type="file" name="vid" >
                <input type="file" name="mus" >
                <button class="join-btn">upload</button>
            </form>
            {% endif %}

            <!--User side-->
            {% else %}
            <form method="get" action="{% url 'ChillPage' room.id %}">
                <input type="hidden" name="ShowPage" value="{{ room.id }}">
                <button class="join-btn">Join</button>
            </form>
            {% endif %}
        </div>




      </div>
</div>
{% endblock %}
